$hero: marketplace-hero;

.#{$hero}__section {
  margin: -21px -30px 30px;
}

.#{$hero}__wrapper {
  position: relative;
  min-height: 500px;
  max-height: 70vh;
}

.#{$hero}__header {
  width: 500px;
  max-width: 80%;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 111;
  background: rgba(26, 179, 148, 0.8);
  padding: 0 15px 15px;
  border-radius: 5px;

  h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }

  small {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }
}

.#{$hero}__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  > .leaflet-container {
    width: 100%;
    height: 100%;
  }
}
