.landing .footer {
  position: relative;
  background-color: #565656;
  color: white;
  box-sizing: border-box;
  @include property(font-size, $small-font);
  @include property(height, 50);
  @include property(padding-top, 13);
  width: 100%;
  @include bp(xs) {
    height: auto;
  }
  // xs
  @include bp(sm) {
    height: auto;
  }
  // sm
  a {
    color: white;
    text-decoration: none;
  }
  // a
  .copy {
    float: left;
    @include bp(xs) {
      display: block;
      float: none;
      text-align: center;
    }
    // xs
    @include bp(sm) {
      display: block;
    }
    // sm
  }
  // copy
}

// app-footer

.footer-nav {
  float: right;
  @include clear-list-inline;
  li + li {
    position: relative;
    padding-left: 11px;

    &:before {
      content: '';
      position: absolute;
      left: 5px;
      top: 3px;
      bottom: 2px;
      width: 1px;
      background: #949494;
    }
  }
  @include bp(xs) {
    display: block;
    font-size: 12px;
    float: none;
    text-align: center;
  }
  // xs
  @include bp(sm) {
    display: block;
  }
  // sm
}

// footer-nav
