.user-edit {
  padding-bottom: 10px;

  .react-gravatar {
    height: auto;
  }

  .manage-gravatar {
    display: block;
    width: 100px;
    line-height: 16px;
    font-size: 12px;

    > a {
      color: $dashboard-green;
      text-decoration: none;
      text-align: center;
      width: 200px;
    }
  }
}

.avatar {
  display: block;
  float: left;
  @include bp(xs) {
    float: none;
  }
  @include bp(sm) {
    float: none;
  }
  @include property(width, 40);
  &.big {
    width: 100%;
  }
  // &.big
  &.small {
    @include property(width, 20);
    img {
      margin-top: -3px;
    }
  }
  // &.small
  &.offset-right {
    @include property(margin-right, 6);
  }
  // &.offset-right
  .avatar-img {
    @include property(border-radius, 3);
    @include boxshadow(0 0 0 1.5, rgba(255, 255, 255, 1));
  }
  // avatar-img
}

// avatar

.dropdown {
  .avatar {
    img {
      @include property(border-radius, 3);
    }
    @include bp(xs) {
      float: left;
    }
    @include bp(sm) {
      float: left;
    }
  }
}
