.container {
  @include clearfix;
  margin: auto;
  width: auto;
  @include property(padding, 0 30);
  @include bp(xs) {
    h1 {
      text-align: center;
    }
  }

  @include bp(md) {
    @include property(padding, 0 30);
  }

  @include bp(lg) {
    width: 1260px;
    @include property(padding, 0 15);
  }
}
