.customer-create-prompt {
  label {
    width: 100%;
  }

  .message-button {
    padding: 25px 20px;
  }

  .checked .message-button {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #fff;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .customer-create-prompt {
    .message-button {
      min-height: 299px;
    }
  }
}

.customer-create-prompt {
  .modal-title {
    font-size: 14px;
  }
  .single-button {
    label {
      display: block;
      margin: 0 auto;
      width: 300px;
    }
  }
}
